@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  width: 90vw;
  max-width: 90vw;
  height: 100vh;
  margin: 0 auto;
  /* background: red; */
}

#header {
  width: 100%;
  padding: 10px 25px;
}

/* navbar */

#navbar {
  background-color: white;
  padding: 32;
  width: 100%;
}

#navbar .logo-img {
  width: 60px;
  cursor: pointer;
}

#navbar .logo-img img {
  width: 100%;
  display: block;
}

.links .link {
  list-style-type: none;
  flex: 0 0 calc(100%/6 - 30px);
  margin-left: 8px;
  position: relative;
  transition: 0.3s all ease;
}

.links .link-text {
  text-decoration: none;
  font-size: 13pt;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
}

.link-text::after {
  content: "";
  display: block;
  width: 50%;
  border-bottom: 1px solid transparent;
}

.link-text:hover::after {
  animation: sheen 1s forwards;
}

@keyframes sheen {
  100% {
    border-bottom: 1px solid #FF6C89;
  }
}

.link:nth-child(1) .link-text {
  color: #FF6C89
}

.links {
  display: flex;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* end navbar */

/* hero */

.hero {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroimg {
  flex: 0 0 calc(50% - 3px);
}

.herotext {
  flex: 0 0 calc(50% - 3px);
}

.heroimg img {
  width: 100%;
}

.hero h2 {
  width: 80%;
  font-size: 13pt;
  font-weight: 900;
  text-transform: capitalize;
}

.hero p {
  width: 100%;
  font-size: 13pt;
  padding: 10px 0;
  color: #ccc;
}

@media screen and (min-width:760px) {
  .hero p {
    width: 85%;
    font-size: 13pt;
  }
  .hero h2 {
    width: 40%;
  }
}

.btn .first, .btn .second {
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btn .first {
  border: none;
  height: 40px;
  padding: 7px 14px;
  font-size: 13pt;
  color: #fff;
  background: #FF6C89;
  border: 1px solid #ff6c89;  
  border-radius: 20px;
}

.btn .second {
  color: #FF6C89;
  height: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #ff6c89;
  padding: 5px 14px;
  font-size: 13pt;
}

.btn .second:hover {
  color: #fff;
  background: #FF6C89;
}

.btn .first:hover {
  background: #fff;
  color: #ff6c89;
  
}

/* end of hero */
/* start od services */

#services{
  width: 100%;
  margin-top: 40px;
  padding: 55px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

#services h2 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 13pt;
  text-align: center;
  padding-bottom: 30px;
}

#services h2::after {
  content: "";
  display: block;
  width: 40px;
  padding-top: 3px;
  margin: 0 auto;
  border-bottom: 1px solid #FF6C89;
}

.services-img {
  color: rgba(246, 56, 84);
  padding-left: 10px;
  font-size: 13pt;
  align-self: center;

}
.services-img{
  width: 100px;
  height: 100px;
  padding-bottom: 70px;
  border-radius: 50%;
  background-color: rgb(236, 236, 236);
  line-height: 100px;
  text-align: center;
  
}

/* statistic */

#statistic {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  margin-top: 40px;
  height: 70vh;
  padding: 55px 25px;
  background: rgba(240, 240, 240, 0.27);
}

.detail h5 {
  color: #e3e3e3;
  font-size: 13pt;
  text-transform: capitalize;
}

.detail h1 {
  width: 95%;
  font-weight: bolder;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 13pt;
  text-transform: capitalize;
}

.detail p {
  font-size: 13pt;
  width: 100%;
  color: #b2b2b2;
  line-height: 15px;
  padding-bottom: 17px;
}

.detail {
  flex: 0 0 calc(50% - 20px);
  /* padding-top: 25px; */
  padding-bottom: 25px;
}

.stat-img {
  flex: 0 0 calc(50% - 20px);
  padding-top: 25px;
  padding-bottom: 25px;
}

.stat-img img {
  display: block;
  width: 100%;
}

@media screen and (min-width:760px) {
  .stat-img {
    flex: 0 0 calc(30% - 20px);
  }
  .detail h1 {
    width: 60%;
    padding: 0;
  }
  .detail p {
    width: 100%;
    font-size: 13pt;
    line-height: 25px;
  }
  .detail {
    flex: 0 0 calc(60% - 20px);
    padding-top: 100px;
    /* padding-bottom: 25px; */
  }
  .stat-img {
    flex: 0 0 calc(40% - 50px);
    padding: 0;
    padding-bottom: 35px;
  }
  #statistic {
    height: 80vh;
  }
}

/*end statistic */

/* awesome faeture */

#features {
  width: 100%;
  margin-top: 40px;
  padding: 55px 25px;
}

#features h2 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 13pt;
  text-align: center;
  padding-bottom: 30px;
}

#features h2::after {
  content: "";
  display: block;
  width: 40px;
  padding-top: 3px;
  margin: 0 auto;
  border-bottom: 1px solid #FF6C89;
}

.singles {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  box-shadow: 0 0 5px #ccc;
  width: 90%;
}

.secfirst {
  width: 70%;
  /* padding: 9px 0; */
}

.secfirst h4 {
  font-size: 13pt;
  font-weight: bold;
  padding: 8px 0;
  width: 100%;
  text-transform: capitalize;
}

.featureone .secfirst p {
  text-align: right;
}

.featureone .secfirst h4 {
  text-align: right;
}

.featureone {
  padding-right: 12px;
}

.featuretwo {
  padding-left: 12px;
}

.secfirst p {
  font-size: 13pt;
  color: #ccc;
  width: 100%;
  padding-left: 2px;
  padding-bottom: 8px;
}

.featuretwo .secfirst {
  padding-left: 11px;
}

.featuretwo .secfirst p {
  font-size: 13pt;
  color: #ccc;
  width: 100%;
  padding-bottom: 8px;
}

.singles .fa {
  color: #FF6C89;
  padding-left: 10px;
  font-size: 13pt;
  align-self: center;
}

.featuretwo .singles .fa {
  color: #FF6C89;
  /* padding-left: 10px; */
  padding-left: 17px;
  font-size: 13pt;
  align-self: center;
}

.secimg {
  width: 40%;
  display: block;
}

.secimg img {
  width: 100%;
}

.featureflex {
  display: flex;
  align-items: center;
}

@media screen and (min-width:760px) {
  .secimg {
    width: 15%;
  }
  .featureone {
    width: 313px;
  }
  .featuretwo {
    width: 313px;
  }
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 19.67px;
    z-index: 1;
    padding: 10px 40px;
  }
  .singles {
    width: 100%;
    justify-content: center;
  }
  .featureone .secfirst {
    width: 70%;
  }
  .featuretwo .secfirst {
    width: 70%;
  }
  .featuretwo .secfirst p, .featureone .secfirst p {
    font-size: 13pt;
  }
  .featureflex {
    justify-content: center;
    align-items: center;
  }
}

/* end awesome faeture */

/* Pricing Section */

#pricing {
  width: 100%;
  margin-top: 40px;
  padding: 55px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  
}

#pricing h2 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 13pt;
  text-align: center;
  padding-bottom: 30px;
}

#pricing h2::after {
  content: "";
  display: block;
  width: 40px;
  padding-top: 3px;
  margin: 0 auto;
  border-bottom: 1px solid #FF6C89;
}
#pricing .fa {
  color: rgba(246, 56, 84);
  padding-left: 10px;
  font-size: 13pt;
  align-self: center;

}
.pricing-img{
  width: 100px;
  height: 100px;
  padding-bottom: 70px;
  border-radius: 50%;
  background-color: rgb(236, 236, 236);
  line-height: 100px;
  text-align: center;
  
}

p.p-pricing {
  color: #a7a7a7;
  align-items: center;
}

.pricing-single {
  background-color: white !important;
}

.price-list {
  text-align: center;
  line-height: 28px;
  color: #a7a7a7;
  list-style-type: none;
}

.pricing-single h1 {
  font-size: 13pt;
}

span.pink-text {
  font-size: 13pt;
  color:  rgba(246, 56, 84);
}

.btn-pricing{
  border: none;
  height: 50px;
  padding: 7px 14px;
  font-size: 13pt;
  color: #fff;
  background:  rgba(246, 56, 84);
  border-radius: 25px;
}

.btn-pricing:hover{
  cursor: pointer;
  border: 1px solid #FF6C89;
  color: rgba(246, 56, 84);
  background: #FFFFFF;
  border-radius: 25px;
}

/* team */

#team {
  width: 100%;
  margin-top: 40px;
  padding: 55px 25px;
  background: rgba(240, 240, 240, 0.27);
}

#team h2 {
  font-weight: bold;
  font-size: 13pt;
  text-align: center;
  padding-bottom: 30px;
}

#team h2::after {
  content: "";
  display: block;
  width: 28px;
  padding-top: 3px;
  margin: 0 auto;
  border-bottom: 1px solid #FF6C89;
}

.team-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* background: red; */
}

.team-img {
  width: 122px;
  height: 122px;
}

.team {
  flex: 0 0 calc(50% - 50px);
  margin-bottom: 10px;
  display: flex;
  position: relative;
  /* align-items: center; */
  /* justify-content: center; */
}

.team-img img {
  width: 100%;
  height: 100%;
}

.team-detail {
  padding: 7px 13px;
  background: #fff;
  width: 300px;
}

.team-detail h3 {
  text-transform: uppercase;
  font-size: 13pt;
  letter-spacing: 0.01px;
  padding-bottom: 4px;
  font-weight: bold;
}

.team-detail h6 {
  font-size: 13pt;
  padding-bottom: 4px;
  color: rgba(0, 0, 0, 0.5);
}

.team-detail p {
  font-size: 13pt;
  color: rgb(168, 168, 168);
  width: 95%;
  line-height: 1.8;
  padding: 5px 0;
}

.team-icon .fa {
  font-size: 13pt;
  display: inline-block;
  padding-right: 4px;
}

.team::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 422px;
  height: 122px;
  background: transparent;
  display: block;
  transition: all 0.2s ease;
}

.team:hover::after {
  background-color: rgba(255, 206, 215, 0.1);
}

@media screen and (min-width:760px) {
  .team {
    flex: 0 0 calc(100%/4);
  }
}

/* end team */

/* personnel */

#personnel {
  width: 100%;
  margin-top: 40px;
  padding: 55px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(246, 56, 84);
}

.article-center {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.single-img {
  width: 60px;
  height: 60px;
  padding-bottom: 70px;
}

.single-img img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.single h1 {
  text-transform: uppercase;
  font-size: 13pt;
  padding: 5px 0;
  letter-spacing: 0.1px;
  font-weight: bold;
}

.single h6 {
  font-size: 13pt;
  padding-bottom: 5px;
  text-transform: capitalize;
  font-weight: 900;
}

.single p {
  font-size: 13pt;
  color: rgb(65, 65, 65);
  width: 80%;
  line-height: 1.7;
  text-align: center;
  padding: 5PX 7PX;
}

.single-icons .fa {
  color: #fff;
  font-size: 13pt;
}

.single-icons .fa {
  color: #fff;
  font-size: 13pt;
}

.single-icons {
  margin: 0 auto;
}

.single {
  background: #fff;
  flex: 0 0 calc(100%/2 - 20px);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  box-shadow: 0 0 7px #ccc;
  transition: 0.1s all ease;
  border-radius: 10px;
}

.single:hover {
  transform: scale(1.05);
}

.single-icon .fa {
  font-size: 13pt;
  color: rgb(246, 56, 84);
}

/* screen at 760px */

@media screen and (min-width:760px) {
  .single {
    flex: 0 0 calc(100%/3 - 20px);
    height: 350px;
  }
  .single p {
    font-size: 13pt;
    width: 90%;
  }
}

/*end  personnel */

/* free trial section */

#date {
  width: 100%;
  margin-top: 40px;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.days h2 {
  text-transform: capitalize;
  font-weight: 18px;
  letter-spacing: 0.1;
}

.days p {
  font-size: 13pt;
  padding: 10px 0;
  color: rgb(168, 168, 168);
  width: 73%
}

#date a {
  text-decoration: none;
  display: inline-block;
  font-size: 13pt;
  padding: 6px 3px;
  width: 90px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  border-radius: 25px;
  background: rgb(230, 54, 80);
  cursor: pointer;
}

#date a:hover {
  background: transparent;
  outline: 1px solid rgb(230, 54, 80);
  color: rgb(230, 54, 80);
  font-size: 13pt;
}

/*section free trial section */

/* Contact Us */
#Contact{
  width: 100%;
  margin-top: 40px;
  padding: 55px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(240, 240, 240, 0.27);
}
#Contact h2 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 13pt;
  text-align: center;
  padding-bottom: 30px;
}

#Contact h2::after {
  content: "";
  display: block;
  width: 40px;
  padding-top: 3px;
  margin: 0 auto;
  border-bottom: 1px solid  rgba(246, 56, 84);
}
.container-flex{
  width: 100%;
  min-height: 300px;
  flex-direction: row;
  justify-content: space-between;
	margin:0 auto;
	display: -webkit-flex; /* Safari */		
	display: flex; /* Standard syntax */
}
.contact-form{
  flex: 0 0 calc(50% - 20px);
  /* padding-top: 25px; */
  padding-bottom: 25px;
  float: left;
}
.map{
  flex: 0 0 calc(40% - 50px);
    padding: 0;
    padding-bottom: 35px;
    float: left;
}
.container-name{

  width: 100%;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: space-between;
	margin:0 auto;
	display: -webkit-flex; /* Safari */		
	display: flex; 
}
input[type=text]{
  width: 100%;
  height: 40px;
  margin-left: 12px;
}

input[type=text],textarea,select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.btn-contact{
  border: none;
  height: 40px;
  padding: 7px 14px;
  font-size: 13pt;
  color: #fff;
  background: #FF6C89;
  border-radius: 20px;

}

/* footer */

#footer {
  width: 100%;
  margin-top: 40px;
  padding: 10px 25px;
}

.fusionsec p {
  font-size: 13pt;
  width: 100%;
  text-align: left;
  line-height: 10px;
  color: rgb(0, 0, 0, 0.4);
  padding: 5px 0;
  padding-top: 0.01px;
}

.fusionsec a {
  display: inline-block;
  width: 90%;
  padding-bottom: -15px;
}

.fusionsec a img {
  width: 100%;
  display: block;
}

.footericon .fa {
  font-size: 13pt;
  padding-left: 3px;
}

#footer h3 {
  font-size: 13pt;
  text-transform: capitalize;
  padding: 8px 0;
}

#footer li {
  list-style-type: none;
}

#footer ul li a, .contact .group a {
  text-decoration: none;
  color: #000;
  font-size: 13pt;
  display: block;
  text-transform: capitalize;
  padding-bottom: 10px;
  letter-spacing: 1.5px;
}

.contact .group:first-child a {
  width: 100%;
  font-size: 13pt;
  /* letter-spacing: 0.55px; */
  line-height: 13px;
}

.contact .group a {
  padding-left: 10px;
}

.group {
  display: flex;
  /* align-items: center; */
}

.group {
  padding-bottom: 12px;
}

.fusionsib {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.uppersec {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.fusionsec, .products, .resources, .contact {
  flex: 0 0 calc(100%/4 - 40px);
  padding-left: 38px;
}

.group .fa {
  align-self: baseline;
  color: #ccc;
}

@media screen and (min-width:760px) {
  .fusionsec p {
    width: 95%;
    padding: 0;
    line-height: 13px;
  }
  .fusionsec a {
    width: 40%;
  }
  .footericon .fa {
    padding-right: 12px;
  }
}

/* vertical line */

.outline {
  width: 100%;
  margin-top: 40px;
  padding: 4px 25px;
  border-top: 1px solid #ccc
}

.copyright {
  font-size: 13pt;
  text-align: center;
}

.copyright span {
  color: #ff6c89;
}

/* end footer */